html,body,h1,h2,h3,h4,h5,h6,p{
    line-height:1.6;
    font-family:'Cairo',sans-serif
}
html,body{
    font-size:18px;
    color:#666;
    font-family:'Cairo',sans-serif;
    font-weight:300;
    background:#fff
}
ul{
    list-style:none
}
li{
    padding:0
}
h1,h2{
    font-size:32px !important;
    color:#000
}
h3{
    font-size:24px;
    color:#000
}
h4{
    font-size:16px;
    color:#000;
    margin-bottom:0
}
label{
    font-size:16px
}
a{
    color:#66bd04;
    font-size:18px
}
a:hover{
    color:#66bd04;
    font-weight:bold
}
.breadcrumbs li a{
    font-size:.6875rem
}
.row{
    max-width:1200px
}
.page{
    border-bottom:1px solid #eaeaea;
    padding:5px 0
}
.header{
    background:#fff
}
.header img{
    padding-top:15px;
    padding-left:0
}
.header input{
    margin-top:10px
}
.header button{
    border:0;
    position:absolute;
    top:15px;
    left:10px
}
.main-content{
    margin:0 auto;
    margin-top:30px;
    margin-bottom:30px
}
.small-text{
    font-size:12px;
    color:#999;
    padding-left:18px
}
.pagination{
    margin-top:5px
}
.pagination a{
    color:#000
}
.pagination a:hover,.pagination .current{
    background:#66bd04;
    color:#fff
}
.position-left.is-transition-push::after{
    box-shadow:none
}
.green{
    color:#9c3
}
.page:hover{
    background:#f9f7e6
}
.tabs{
    border:0;
    border-bottom:2px solid #000;
    margin-bottom:20px
}
.category-list li{
    margin-bottom:0
}
.category-list li::before{
    content:"• ";
    color:#ccc
}
.post-content ul,.post-content ol{
    list-style:initial
}
#episode-rating table{
    width:100%
}
#episode-rating th{
    background:#7f2aff;
    border-color:#fff;
    color:#fff;
    font-weight:bold
}
#episode-rating th,#episode-rating th{
    padding:5px 10px
}
#image-gallery #slides ul.slidesjs-pagination{
    list-style:none;
    margin-top:5px
}
#image-gallery #slides ul.slidesjs-pagination li{
    display:inline-block;
    margin:0;
    padding:0
}
#image-gallery #slides ul.slidesjs-pagination li a{
    text-align:center;
    border-radius:50%;
    width:52px;
    height:52px;
    padding:0;
    line-height:52px;
    border-bottom:0;
    display:inline-block;
    color:#333;
    background-color:#fff;
    font-weight:700;
    margin:0;
    transition:all 200ms ease-in-out;
    font-size:14px
}
#image-gallery #slides ul.slidesjs-pagination li a:hover{
    background-color:#f2f2f2;
    color:#333
}
#image-gallery #slides ul.slidesjs-pagination li .active{
    background-color:#f2f2f2;
    color:#333
}
#image-gallery .slidesjs-navigation{
    padding:5px
}

#navigation {
    margin-top: -5px !important;
}